
  .home1 {
    background: rgb(4,3,47);
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin-top: 10rem;
    z-index: 80;
    // overflow: hidden;
    background-image: url("../../assets/image/newMint.png");
        z-index: -99;
        background-repeat: no-repeat;
        -moz-background-size:100% 18%; 
        background-size:100% 18%; 
    
  }
  .main_body1 {
    width: 100%;
    margin: 0 auto;
    .bodyBg{
      width: 85rem;
      margin: 0 auto;
      background-image: url("../../assets/image/mint2.png");
      background-repeat:no-repeat;
      background-size:100% 50%;
      -moz-background-size:100% 50%;
      z-index: 80;
      .imgText {
        z-index: 10;
        position: relative;
        font-size: 5rem;
        bottom: 58rem;
        font-family: 'Ink Free';
        color: #fff;
      }
    }
     .bodyBg:before{
       content: "";
      display: block; 
      padding-top: 100%;
      }
    .main_menu1 {
        list-style: none;
        border: 0; 
        padding: 0;
        position: relative;
        bottom: 40rem;
        margin: 0 auto;
        width: 100%;
          ul {
              padding: 0;
              margin: 0;
              list-style: none;
              padding: 1rem;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;
              li {
                  flex: 1 0 30%;
                  // height: 6rem;
                  display: inline-block;
                  // background: #ededee;
                  margin-bottom: 1rem;
                  text-align: center;
                  .box {
                    width: 160px;
                    height: 250px;
                    margin: 0 auto;
                    border-radius: 20px;
                    // background:#fff;
                    border: 3px solid #fff;
                    display: flex;
                    /*垂直排列*/
                    flex-direction: column;
                    color: #fff;
                    align-items:center;
                    margin-bottom: 20px;
                    span {
                        font-family: 'Bahnschrift';
                        font-size: 20px;
                      }
                    .imgBox {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      // background: #000;
                      margin-top: 20px;
                      padding-top: 4px;
                      img {
                         width: 50px;
                         height: 50px;
                      }
                      
                    }
                    
                  }
                  .borderImg{
                    width: 160px;
                    height: 250px;
                    border: 3px solid rgb(238, 82, 204);
                  }
                }
                .bt_classify_name_empty {
                  width: 0px;
                  height: 0px;
                }
            }
           }        
  }
  .footer {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 220px;
    .mine_but {
      flex:1 1 auto;
      .button {
        display: flex;
        justify-content: space-between;
        button {
          margin-top: 60px;
          width: 150px;
          height: 40px;
        }
      }
    }
    .right_img {
     flex:0 0 auto;
     width: 300px;
     margin-top: 80px;
     img {
       width: 300px;
       height: 200px;
     }
    }
    .left_img{
      padding:5px;
      width:300px;
      img{
        width: 170px;
        height: 100px;
        position: absolute;
        bottom: 40px;
        left: 80px;
      }
    }
  }

.ant-btn1 {
line-height: 1.499;
position: relative;
width: 140px;
display: inline-block;
font-weight: 400;
font-family: 'Calibri (正文)';
white-space: nowrap;
text-align: center;
margin-top: 10px;
background-image: none;
border: 1px solid transparent;
-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.015);
box-shadow: 0 2px 0 rgba(0,0,0,0.015);
cursor: pointer;
-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
transition: all .3s cubic-bezier(.645, .045, .355, 1);
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: manipulation;
touch-action: manipulation;
height: 32px;
padding: 0 15px;
font-size: 18px;
border-radius: 10px;
color: rgba(0,0,0,0.65);
background-color: #fff;
border-color: #d9d9d9;
}
.ant-btn-red1 {
color: #fff;
height: 45px;
background-color: #FF5A44;
border-color: #FF5A44;
text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
-webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.045);
box-shadow: 0 2px 0 rgba(0,0,0,0.045);
}
button:focus {outline:none;}

button[disabled] {
opacity: 0.5;
}